
.initially-hidden {
	display:none;	
}

.container {
	text-align:center;
}

table.full {
	width:900px;
}

table.full .header {
	background-color:#CCCCFF;
	height:50px;
}

table.full .footer {
	background-color:#CCDDFF;
	height:50px
}

table.full .left {
	height:440px;
	vertical-align:top;
}

table.full .right {
	height:440px;
	width:200px;
	background-color:orange;
	vertical-align:top;
}

/* ---------------------------------------------------- */

.gameList {
	height: inherit;
	overflow-y: scroll;
}

.gameListItem 
{
	background-color:#FFCCCC;
	height:30px;
	margin-top:1px;
}

.gameListItem.selected 
{
	background-color: #888888;
}

table.play {
}

table.chooseGame {
}

/* ----------------------------------------------------- */

.countdown {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:1;
	top:0;
	left:0;
	color:white;
	background-color:black;
}

/* ----------------------------------------------------- */

.local-board-container {
	position:relative;
	width:500px;
	height:440px;
}

.remote-boards-container {
	position:relative;
	width:300px;
	height:440px;
}
/* ----------------------------------------------------- */

.local-hold {
	position:absolute;
	background-color: #CFCFCF;
	top: 15%;
	left: 10px;
}

.local-item {
	position:absolute;
	background-color: blue;

	top: 60%;
	left: 10px;
}

.local-board {
	position:absolute;
	top:0;
	left:80px;
}

.local-bag {
	position:absolute;
	top:0;
	left:290px;
}

canvas.local-board {
	background-color: #EEEEEE;
}
canvas.local-bag {
	background-color: #CFCFCF;
}

/* ----------------------------------------------------- */

canvas.remote {
	background-color: #EEEEEE;
}

/* ----------------------------------------------------- */

.stands {
	position:relative;
}

.stands .spectators {
	height:100px;
	background-color:blue;	
}

.stands .chat {
	height:300px;	
	background-color:green;
	text-align: left;
	overflow-y: scroll;
	word-wrap: break-word;
}

.stands .entry {
	height:60px;
	background-color:grey;
}

.stands .entry input {
	width:95%;
	height:95%;
	overflow: scroll;
	border:0px;
	background:inherit;
}
